body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

h1 {
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

h2, h3 {
    font-weight: 700;
    letter-spacing: 0.03em;

}

h2 {
    font-style: normal;
    font-size: 36px;
    text-align: center;
    margin-bottom: 50px;
}

h3 {
    font-size: 14px;
    text-transform: uppercase;
}

p {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.03em;

}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}

.btn {
    height: 50px;

    background: #2196F3;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;

    display: flex;
    align-items: center;
    justify-content: center;

}

.btn_text {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.06em;

    color: #FFFFFF;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.mb-94 {
    margin-bottom: 94px;
}

.flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social {

    flex-wrap: wrap;
    gap: 10px;
}


.social a {
    width: 44px;
    height: 44px;

    border-radius: 50%;
}

.social a:hover {
    background: #2196F3;
    cursor: pointer;
}

.social a:hover i {
    color: #FFFFFF;
}


.social i {
    font-size: 20px;
    color: #AFB1B8;;
}

.logo {
    text-transform: capitalize;

    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;

    letter-spacing: 0.03em;

    color: #000000;
}

.logo span {
    color: #2196F3;
}

/*header*/

.header__inner {
    justify-content: space-between;
}

.header__flex {
    column-gap: 93px;
}


.menu {
    column-gap: 50px;
}

.nav__link {
    padding: 32px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.nav__link:hover {
    color: #2196F3;

    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
}


.header__contact {
    column-gap: 30px;
}

.header__contact a,
.header__contact {
    column-gap: 30px;
    color: #757575;
}

.header__contact a:hover,
.header__contact-email:hover,
.header__contact-mobile:hover {
    color: #2196F3;
}

.header__contact-mobile,
.header__contact-email {
    column-gap: 10px;
}


/*header*/

/*intro*/

.intro {
    height: 600px;
    background: url("img/intro.png") center no-repeat;
    position: relative;
    z-index: 1;

    flex-direction: column;
}

.intro:after {
    max-width: 1600px;
    width: 100%;
    height: 100%;

    background: rgba(47, 48, 58, 0.4);

    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.intro__content {
    max-width: 620px;
    text-align: center;
}

.intro__content h1 {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.intro__btn {
    width: 200px;
    margin: 0 auto;
}


/*intro*/

/*benefits*/

.benefits__inner {
    flex-wrap: wrap;
    gap: 30px;
}

.benefits__element {
    width: calc((270 / 1170) * 100%);
}

.benefits__element-img {
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.benefits__element-img img {
    margin: 25px auto;
}

.benefits__element p {
    margin-top: 10px;
    line-height: 24px;
    max-width: 243px;
}

/*benefits*/


/*services*/

.services__inner {
    flex-wrap: wrap;
    gap: 30px;


}

.services__elements {
    position: relative;
    width: calc((370 / 1170) * 100%);
}

.services__elements-content {
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);


    position: absolute;
    bottom: 4px;
    left: 0;
    content: '';

    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;

}

/*services*/

/*team*/
.team {
    padding: 94px 0;
    background: #F5F4FA;
}

.team__social {
    margin: 16px 32px 30px;
}

.team__inner {
    gap: 30px;
    flex-wrap: wrap;
}

.team__elements {
    width: calc((270 / 1170) * 100%);
    background: #FFFFFF;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;

    text-align: center;
}

.team__elements-name {
    margin: 30px 0 10px;
    font-weight: 500;
    font-size: 16px;


    color: #212121;
}

.team__elements-work {
    color: #757575;
}


/*team*/

/*clients*/

.clients__inner {
    flex-wrap: wrap;
    gap: 30px;
}

.clients__list {
    width: calc((170 / 1170) * 100%);
    height: 92px;

    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients__list-img {
    fill: #AFB1B8;
    cursor: pointer;

}

.clients__list-img:hover {
    fill: #2196F3;
}

/*clients*/


/*footer*/

.footer {
    padding: 60px 0;
    background-color: #2F303A;
}

.footer__inner {
    align-items: unset;
    justify-content: space-between;
}

.footer__contact {
    width: calc((231 / 1170) * 100%);
}

.footer__logo {
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer__contact p {
    color: rgba(255, 255, 255, 0.6);
}

.footer__contact p:nth-child(2) {
    color: #FFFFFF;
}


.footer__contact-email {
    margin: 9px 0;
}


.footer__subscription {
    width: calc((570 / 1170) * 100%)
}


/*footer*/
