
/*header*/

.header__inner {
    justify-content: space-between;
}

.header__flex {
    column-gap: 93px;
    align-items: center;
}


.menu {
    column-gap: 50px;
}

.nav__link {
    padding: 32px 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;

    color: #212121;
}

.nav__link:hover {
    color: #2196F3;

    border-bottom: 4px solid #2196F3;
    border-radius: 2px;
}


.header__contact {
    column-gap: 30px;
    align-items: center;
}

.header__contact a,
.header__contact {
    column-gap: 30px;
    color: #757575;
}

.header__contact a:hover,
.header__contact-email:hover,
.header__contact-mobile:hover {
    color: #2196F3;
}

.header__contact-mobile,
.header__contact-email {
    column-gap: 10px;
}


/*header*/

/*intro*/

.intro {
    height: 600px;

    background: url("../img/intro.png") center no-repeat;
    position: relative;
    z-index: 1;

    flex-direction: column;
    justify-content: center;
}

.intro:after {
    max-width: 1600px;
    width: 100%;
    height: 100%;

    background: rgba(47, 48, 58, 0.4);

    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;

}

.intro__content {
    max-width: 620px;
    text-align: center;
}

.intro__content h1 {
    margin-bottom: 30px;
    color: #FFFFFF;
}

.intro__btn {
    width: 200px;
    margin: 0 auto;
}


/*intro*/

/*benefits*/

.benefits__inner {
    flex-wrap: wrap;
    gap: 30px;
}

.benefits__element {
    width: calc((270 / 1170) * 100%);
}

.benefits__element-img {
    margin-bottom: 30px;
    background: #F5F4FA;
    border-radius: 4px;
}

.benefits__element-img img {
    margin: 25px auto;
}

.benefits__element p {
    margin-top: 10px;
    line-height: 24px;
    max-width: 243px;
}

/*benefits*/


/*services*/

.services__inner {
    flex-wrap: wrap;
    gap: 30px;


}

.services__elements {
    position: relative;
    width: calc((370 / 1170) * 100%);
}

.services__elements-content {
    width: 100%;
    height: 70px;

    background: rgba(47, 48, 58, 0.8);

    align-items: center;
    justify-content: center;

    position: absolute;
    bottom: 4px;
    left: 0;
    content: '';

    font-weight: 700;
    text-transform: uppercase;
    color: #FFFFFF;

}

/*services*/

/*team*/
.team {
    padding: 94px 0;
    background: #F5F4FA;
}

.team__social {
    margin: 16px 32px 30px;
}

.team__inner {
    gap: 30px;
    flex-wrap: wrap;
}

.team__elements {
    width: calc((270 / 1170) * 100%);
    background: #FFFFFF;

    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 0, 0, 0.14), 0 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0 0 4px 4px;

    text-align: center;
}

.team__elements-name {
    margin: 30px 0 10px;
    font-weight: 500;
    font-size: 16px;


    color: #212121;
}

.team__elements-work {
    color: #757575;
}


/*team*/

/*clients*/

.clients__inner {
    flex-wrap: wrap;
    gap: 30px;
}

.clients__list {
    width: calc((170 / 1170) * 100%);
    height: 92px;

    align-items: center;
    justify-content: center;

    box-sizing: border-box;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
}

.clients__list-img {
    fill: #AFB1B8;
    cursor: pointer;

}

.clients__list-img:hover {
    fill: #2196F3;
}

/*clients*/


/*footer*/

.footer {
    padding: 60px 0;
    background-color: #2F303A;
}


.footer__inner {
    justify-content: space-between;
}

.footer__inner h3:first-child {
    margin-bottom: 20px;
    color: #FFFFFF;
}

.footer__contact {
    width: calc((231 / 1170) * 100%);
    color: rgba(255, 255, 255, 0.6);

}

.footer__contact-address {
    color: #FFFFFF;
}

.footer__contact-email {
    margin: 9px 0;
}

.footer__social a {
    background: rgba(255, 255, 255, 0.1);
}

.footer__subscription {
    width: calc((570 / 1170) * 100%)
}

.form {
    height: 50px;
    gap: 12px;

}

.form input {
    padding-left: 16px;
    width: calc((358 / 570) * 100%);

    background: transparent;

    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    outline: none;
    box-sizing: border-box;

    font-size: 16px;
    color: rgba(255, 255, 255, 0.6);
}

.form button {
    padding: 0;
    width: calc((200 / 570) * 100%);

    gap: 10px;
    outline: none;
    border: none;

}

.form button i {
    font-size: 24px;
}

/*footer*/
